.login-widget {
	padding-top: 8px;
}

.login-widget a {
	display: inline-block;
	margin-top: 8px;
	font-size: 110%;
}

.page-header {
	margin-bottom: 40px;
}

body{
	
	background-image: url('../upload_photos/bottom.png');
	background-color: #ff8080;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;  
}


.reg{
	float:left; 
	margin: 0;
	width: 25%;
	margin:auto;
	padding-left: 25px;
	
}

.pozadina{
	padding: 3%;
	background: rgb(226, 102, 102); /* ako browser ne podrzava rgba */
    background: rgba(255, 128, 128, .7);
}

.reg#polja{
	width: 50%;
}

#send{
  width: 100px; 
  margin: 0 auto; 
}

#send button{
	margin-top: 15px;
}

.panel-body,.panel-footer{
		background-color: #ff8080;
		border-color: black;

}
.naslovna{
	margin-bottom: 20px;
	width: 100%;
	display: block;
	overflow: auto;

}
.name{
	font-weight: bold;
	font-size: 17px;
}
.naslovna > div > img{
	width: 15%;
	height: auto;
	vertical-align:top;
	margin-right: 15px;
	float:left;
	clear: both;
}

.naslovna:hover {
 	background: #ff6666;
 	border: 2px solid #c95a5a;
    
}

.naslovna > p{
	margin-right: 10px;
  	padding:0;
  	color: black;
}



.boldB{
	font-weight: bold;
	font-size: 17px;
}

.boldBB{
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 40px;
}
.logo > img{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	vertical-align:top;
	margin-right: 15px;
	float:left;
	clear: both;	
}
.logo > a{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	vertical-align:top;
	margin-right: 15px;
	float:left;
	clear: both;	
}

button,.button{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #558FC9;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius:  5px;
	margin-bottom: 10px;
}

input.button{
	margin-top: 10px;
	margin-bottom: 40px;
}

.marg_bott{
	margin-top: 10px;
	margin-bottom: 40px;
}
.panel-default{
	border-color: black;
	border-radius:  0px;

}

.btn-default{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #558FC9;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius:  5px;
	margin-top: 5px;

}

.desno{
	float:right; 
	margin: 0;
	width: 45%;
	margin:auto;	

}

.text{
	float:left; 
	margin: 0;
	width: 45%;
	margin:auto;
}

.buttons{
	display: block;
	margin-top: 50px;
	text-align: center;
	clear:both;
	padding-top: 20px;
	margin-bottom: 40px;

}


.profilna{
	width: 80%;
	max-width: 300px;
	height: auto;

}

.col-xs-12{
	margin-bottom: 20px;
}


.chat  article{

	border: 0 !important;
}

.Lijevo{
	background-color:#ffb3b3; 
	text-align: left;
	padding-right: 50%;
	padding-left: 5px;

}

.Desno{
	background-color: #ff9999;
	text-align: right;
	padding-left: 30%;
	padding-right: 5px;
	overflow: hidden;


}

h4,h5{
	margin: 0;
	padding-bottom:  5px;

}

h4 small{
	color: #635b5b;
}
.wrap{
	 /*width: 500px;
    border: 1px solid black;*/
    position:relative;
}
.line{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  	vertical-align: middle;

}
.tekst{
	 width:80%;
    display:inline-block;
    padding-right: 5px;
}
.sender{
	height: 100%;
	width:15%;
    background-color: #ff6666; 
    display:inline-block;
    text-align: center;

}


#canvas{ 
    border: 2px solid #404040;
    border-radius: 15px;
    /*height: 515px;
    width: 690px;
    margin: 20px 20px;*/
    height:50px;
    width:300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* overflow za Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#cnv{
	background-color: #ff8080;
}

.podudaranje{
	padding-top: 15px;
	font-size: 15px;
	font-weight: bold;
}

#poruka_p{
	color:#ff1a75;
	font-weight: bold;
}

#posalji_p{
	text-align: center;
	margin: 0 auto; 

}

input[type=file]{
    margin: 0 auto;

}

#password_strength{
	font-weight: bold;
}